/* your code */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table{
	border-collapse: collapse;
	width: 100%;
}

thead th{
	background-color: blue;
	color: white;
	padding: 6px;
}

tbody tr:nth-child(even){
	background-color: grey;
	color:white;
}





